body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    text-decoration: none;
    background-color: #3498db;
    border-radius: 5px;
    font-weight: bold;
}

footer{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 20px;
font-size: 25px;
}
