body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f9d8;
}

.container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    height: 100%;
}

.section {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
}

#actores {
    text-align: center;
    padding-bottom: 20px;
}

h1 {
    font-size: 32px;
    color: #333;
}

p {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: burlywood;
    border: none;
}

input[type="text"],
textarea {
    font-size: 18px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}